<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>
      Hey, <%= users[0].username%>! You have successfully signed up in the site.
    </h1>
    <h2>You can go back and login now to use the site.</h2>
  </body>
</html>
